$navBarHeight: 51px;
$footerHeight: 60px;

html {
  height: 100%;
}

body {
  padding-top: $navBarHeight;
  background: white;
  position: relative;
  padding-bottom: $footerHeight + 10;
  min-height: 100%;
}

.logged span {
  color: whitesmoke;
}

#content {
  margin-top: 1em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background-color: #f5f5f5;

  p {
    margin: 20px 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  .glyphicon {
    font-size: 0.7em;
  }
}
